body {
    text-align: center;     
}

.bodybackground{
    background-image: url(background.jpg);
}

h1 {
    color: #ff4757;
    font-size: 3rem;
    margin-top: 2rem;
    font-family: 'Press Start 2P', cursive;
    text-decoration:underline;
}


h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    margin-top: 1.5rem;
    background: linear-gradient(90deg, #ff6f61, #d4fc79);
    -webkit-background-clip: text; 
    color:transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4 );
}

h3 {
    font-family: 'Georgia', serif;
    text-decoration: underline;
    font-size: 2.5rem;
    margin-top: 1rem;
    background: linear-gradient(90  deg, #b8c6db, #f5f7fa);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}



.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

.btn {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 8px solid black;
    margin: 0.5rem;
}

.yellow {
    background-color: #f99b45;
}

.red {
    background-color: #d95980;
}

.purple {
    background-color: #819ff9;
}

.green {
    background-color: #61aa60;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: green;
}
.phnbtn{
    display: none;
}

@media (max-width: 768px) {
    .btn {
        height: 120px;
        width: 120px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 2rem;
    }
    .phnbtn{
        display: block;
        position: relative;
    }

    #strtbtn {
        background: linear-gradient(135deg, #4CAF50, #8BC34A); 
        border: 2px solid #388E3C;
        border-radius: 15px; 
        color: white; /* Text color */
        padding: 5px 15px; 
        font-size: 25px; /* Font size */
        font-weight: bold; /* Bold font */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Shadow for depth */
        cursor: pointer; /* Pointer on hover */
        transition: background 0.3s ease, transform 0.3s ease; /* Smooth transition */
    }
    
    #strtbtn:hover {
        background: linear-gradient(135deg, #388E3C, #4CAF50); /* Color shift on hover */
        transform: translateY(-2px); /* Lift effect on hover */
    }
    
    .container{
        position: relative;
        top: 100px;
    }
}

@media (max-width: 480px) {
    .btn {
        height: 80px;
        width: 80px;
        border-width: 5px;
    }
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.5rem;
    }
    .phnbtn{
        display: block;
        position: relative;     
    }
    #strtbtn {
        background: linear-gradient(135deg, #4CAF50, #8BC34A); 
        border: 2px solid #388E3C;
        border-radius: 10px; 
        color: white; 
        padding: 5px 15px; 
        font-size: 15px; 
        font-weight: bold; 
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
        cursor: pointer;
        transition: background 0.3s ease, transform 0.3s ease; 
    }
    
    #strtbtn:hover {
        background: linear-gradient(135deg, #388E3C, #4CAF50); 
        transform: translateY(-2px);
    }   
    .container{
        position: relative;
        top:200px;
    }
    }
